In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
n_red = [1, 2, 3, 4, 5, 6]

### setup: realistic partner colour report probabilities

In [ ]:
n_trials_blue_outcome = [9, 7, 6, 4, 3, 1]

In [ ]:
n_red_extend1 = []
for i in range(len(n_trials_blue_outcome)):
    n_red_extend1.extend([n_red[i]] * n_trials_blue_outcome[i])

In [ ]:
outcome_blue = [1] * len(n_red_extend1)

In [ ]:
trials1 = list(zip(n_red_extend1, outcome_blue))

In [ ]:
n_trials_red_outcome = [1, 3, 4, 6, 7, 9]

In [ ]:
n_red_extend2 = []
for i in range(len(n_trials_red_outcome)):
    n_red_extend2.extend([n_red[i]] * n_trials_red_outcome[i])

In [ ]:
outcome_red = [-1] * len(n_red_extend2)

In [ ]:
trials2 = list(zip(n_red_extend2, outcome_red))

In [ ]:
trials1.extend(trials2)

In [ ]:
import pandas as pd

In [ ]:
tmp = pd.DataFrame(trials1, columns=['n_red', 'outcome'])
# tmp.to_json('trials_realistic_noshuffle.json', orient='records')

In [ ]:
# randomize order

trials3 = trials1
random.shuffle(trials3)

In [ ]:
tmp = pd.DataFrame(trials3, columns=['n_red', 'outcome'])
# tmp.to_json('trials_realistic_shuffled.json', orient='records')

### setup: proportions of interest version

In [3]:
n_trials_blue_outcome = [4, 4, 3, 3, 8, 8]

In [4]:
n_red_extend1 = []
for i in range(len(n_trials_blue_outcome)):
    n_red_extend1.extend([n_red[i]] * n_trials_blue_outcome[i])

In [5]:
outcome_blue = [1] * len(n_red_extend1)

In [6]:
trials1 = list(zip(n_red_extend1, outcome_blue))

In [8]:
len(trials1)

30

In [9]:
n_trials_red_outcome = [4, 4, 3, 3, 8, 8]

In [10]:
n_red_extend2 = []
for i in range(len(n_trials_red_outcome)):
    n_red_extend2.extend([n_red[i]] * n_trials_red_outcome[i])

In [11]:
outcome_red = [-1] * len(n_red_extend2)

In [12]:
trials2 = list(zip(n_red_extend2, outcome_red))

In [14]:
len(trials2)

30

In [15]:
trials1.extend(trials2)

In [16]:
tmp = pd.DataFrame(trials1, columns=['n_red', 'outcome'])
# tmp.to_json('trials_realistic_noshuffle.json', orient='records')

In [17]:
tmp

    n_red  outcome
0       1        1
1       1        1
2       1        1
3       1        1
4       2        1
5       2        1
6       2        1
7       2        1
8       3        1
9       3        1
10      3        1
11      4        1
12      4        1
13      4        1
14      5        1
15      5        1
16      5        1
17      5        1
18      5        1
19      5        1
20      5        1
21      5        1
22      6        1
23      6        1
24      6        1
25      6        1
26      6        1
27      6        1
28      6        1
29      6        1
30      1       -1
31      1       -1
32      1       -1
33      1       -1
34      2       -1
35      2       -1
36      2       -1
37      2       -1
38      3       -1
39      3       -1
40      3       -1
41      4       -1
42      4       -1
43      4       -1
44      5       -1
45      5       -1
46      5       -1
47      5       -1
48      5       -1
49      5       -1
50      5       -1
51      5       -1
52      6       -1
53      6       -1
54      6       -1
55      6       -1
56      6       -1
57      6       -1
58      6       -1
59      6       -1

In [18]:
# randomize order

trials3 = trials1
random.shuffle(trials3)

In [41]:
tmp = pd.DataFrame(trials3, columns=['n_red', 'outcome'])

In [42]:
tmp.to_json('trials_ROI_shuffled.json', orient='records')